<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
</head>
<style>
    /* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #555;
}

/* Responsive Navigation Menu */
@media screen and (max-width: 768px) {
    .navbar-container {
        display: flex;
    }

    .nav-links {
        margin-top: 10px;
        /* flex-direction: column; */
    }

    .nav-links li {
        margin: 5px 0;
    }
    .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    transition: background-color 0.3s ease;
}
}

</style>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="logo">St.Faustina</a>
        <ul class="nav-links">
            <li><a href="/home" class="nav-link">Home</a></li>
            <!-- <li><a href="/allmembers" class="nav-link">List</a></li>
            <li><a href="/search" class="nav-link">Search</a></li> -->
            <li><a href="/about" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>

<!-- Your other content here -->

</body>
</html>
